h1
    {
    font-size: 1.4em;
    margin-bottom: 0;
    margin-top: 0;
    }
.cam h1
    {
    margin-top: -9px;
/*     margin-bottom: -18px; */
    padding-left: 5px;
    }
#wrapper
    {
    border: 1px solid #000000;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    }
.cam DIV
    {
    position: relative;
    }
.cam li
    {
    display: inline-table;
    margin-left: -3px;
    padding-bottom: 5px;
    }
.cam ul {
    list-style-type: none; /* Removes bullets */
    padding: 0;           /* Removes default indentation */
    margin: 0;
    display: grid;        /* Keeps the grid behavior */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Example grid */
    gap: 20px;            /* Adds spacing between items */
    }
/* .cam ul
    {
    display: inline-block;
    margin-left: -30px;
    margin-bottom: 0;
    } */
.cam iframe
    {
    height: 240px;
    width: 400px;
    }
.dist9 img
    {
    }
.ski
    {
    padding: 20px
    }
.ski iframe
    {
    height: 1200px;
    }
.ski tr
    {
    }

